/* HEADER */

/* HEADER_TOP */
.header_top {
    height: 40px;
}

.header_top .logo_header {
    height: 60%;
}

/* HEADER_BOTTOM */
.header_right img {
    height: 30px;
}

/* BUTTONS */
.btn {
    border-radius: 20px;
    text-transform: capitalize;
    margin: 10px 0;
}

.btn_black {
    background-color: #363636;
    color: white;
}

.btn_orange {
    background-color: #cd3d0f;
    color: white;
}

.btn_blue {
    background-color: #2d64e6;
    color: white;
}

.btn_grey {
    background-color: #d9dadc;
    color: #3066e6;
}

.btn_white {
    background-color: white;
    color: black;
}

/* MAIN */
main {
    margin-top: 116px;
}

/* HERO */
.hero_jumbo_returnal {
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 200px;
    padding-bottom: 50px;
}

.hero_jumbo_it2 {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
}

.hero_text img {
    width: 250px;
}

.hero_carousel img {
    border-radius: 20px;
}

/* PLAY_5 */
.play_5_card {
    opacity: 0.7;
    border-bottom: 2px solid transparent;
}

.play_5_carousel img {
    width: 70%;
}

.play_5_card:hover {
    opacity: 1;
    border-bottom: 2px solid #2d64e6;
}




/* it take two  */
.it_takes_two {
    background-color: #1f1f1f;
}

/* PS PLUS */
.ps_plus {
    background-color: #bebcbb;
}

.ps-plus-logo {
    width: 60%;
}

/* PS-NOW */
.ps_now {
    background-color: #161c3b;
    color: white;
}

/* SOCIALS */
.container_custom {
    /* da implementare un container kustom da sm? */
}

/* FOOTER */
footer {
    background-color: #00439c;
    color: white;
}

footer ul {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
}

/* FOOTER TOP */
.footer_top .globe {
    width: 5%;
}

/* FOOTER BOTTOM */
.footer_bottom img {
    width: 140px;
}

.footer_bottom a {
    color: white;
}